body,html{height:100%;padding:0px;margin:0px; background-color: lightblue; 
	background-image: url("../img/fon_estr.gif");}
div{font-family: verdana;font-size: 0.7em; color: yellow;}
.a{width:100%;height:90px;overflow:hidden;position:fixed;top:0px}
.b{background-image: url("../img/tierra_m.gif"); background-repeat: no-repeat;
   background-position: center center;width:100%;height:100%;overflow:hidden;}
.b_howto{width:80%;height:100%;padding: 30% 5%;}
.c{position:fixed;top:0px;bottom:0px;left:0px;right:0px;display:none;z-index:1}
.d{position:fixed;bottom:0px;height:10%;width:100%;}
.d img{background-image: url("../img/alien_m.gif"); position: fixed; left: 0px; right: 0px; bottom:0px;width:100%; height: 25%;}

#nave{text-align:center;position:fixed;top:10%;width:100%;height:20%}
#nave img{height:70%;}
#cpanel,#menu{list-style-type: none;}
#hidem,#showm{padding: 2%; float:right;}


#menu{width: 30%; height: auto;	overflow:hidden;display: block;}
li a{ color:white; font-family:"Verdana", sans-serif;text-decoration:none}

li a:hover:not(.active){background-color:#555}